<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Flight ID</th>
        <th scope="col">Source</th>
        <th scope="col">Destination</th>
        <th scope="col">Departure time</th>
        <th scope="col">Business class Price</th>
        <th scope="col">Economy class price</th>
        <th scope="col">Book here</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>AIR-00124</td>
        <td>Mumbai</td>
        <td>Bangalore</td>
        <td>12:30</td>
        <td>3000</td>
        <td>2000</td>
        <td><a class="nav-link" routerLink="Payment" href="#">Book</a></td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>AIR-00124</td>
        <td>Mumbai</td>
        <td>Bangalore</td>
        <td>12:30</td>
        <td>3000</td>
        <td>2000</td>
        <td><a class="nav-link" routerLink="Payment" href="#">Book</a></td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>AIR-00124</td>
        <td>Mumbai</td>
        <td>Bangalore</td>
        <td>12:30</td>
        <td>3000</td>
        <td>2000</td>
        <td><a class="nav-link" routerLink="Payment" href="#">Book</a></td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>AIR-00124</td>
        <td>Mumbai</td>
        <td>Bangalore</td>
        <td>12:30</td>
        <td>3000</td>
        <td>2000</td>
        <td><a class="nav-link" routerLink="Payment" href="#">Book</a></td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>AIR-00124</td>
        <td>Mumbai</td>
        <td>Bangalore</td>
        <td>12:30</td>
        <td>3000</td>
        <td>2000</td>
        <td><a class="nav-link" routerLink="Payment" href="#">Book</a></td>
      </tr>
    </tbody>
  </table>