<div class="row">
  <div class="col-md-6 offset-md-3 mt-4">
      <h3>Login</h3>
      <form #f="ngForm" (ngSubmit) = "onSubmit(f)">
          <div class="form-group">
              <label for="loginUsername">Username</label>
              <input type="text" 
              name="username"
              ngModel
              required
              #username="ngModel"
              class="form-control"
              id="username"
              placeholder="Enter username">
          </div>
          <div class="form-group">
              <label for="loginPassword">Password</label>
              <input type="password"
                     name="password"
                     ngModel
                     required
                     #password="ngModel"
                     class="form-control"
                     id="password"
                     placeholder="Password">
          </div>
          <div class="form-group form-check">
              <a [routerLink]="['/resetpassword']">Forgot Password?</a>
          </div>
          <button type="submit" [disabled] = "f.invalid"
                  class="btn btn-primary">Login </button>
                  <p>Not a member?
                      <a [routerLink]="['/register']">Register</a>
                    </p>
      </form>
  </div>
</div>










<body>
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body">
              <h5 class="card-title text-center">Sign In</h5>
              <form class="form-signin">
                <div class="form-label-group">
                  <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                  <label for="inputEmail">Email address</label>
                </div>
  
                <div class="form-label-group">
                  <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                  <label for="inputPassword">Password</label>
                </div>
  
                <div class="custom-control custom-checkbox mb-3">
                  <input type="checkbox" class="custom-control-input" id="customCheck1">
                  <label class="custom-control-label" for="customCheck1">Remember password</label>
                </div>
                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
                <hr class="my-4">
                
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
